In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
csv2013_06 = pd.read_csv("../RawData/CSVs/201306-citibike-tripdata.csv", low_memory=False)
df2013_06 = pd.DataFrame(csv2013_06)
csv2013_07 = pd.read_csv("../RawData/CSVs/2013-07 - Citi Bike trip data.csv", low_memory=False)
df2013_07 = pd.DataFrame(csv2013_07)
csv2013_08 = pd.read_csv("../RawData/CSVs/2013-08 - Citi Bike trip data.csv", low_memory=False)
df2013_08 = pd.DataFrame(csv2013_08)
csv2013_09 = pd.read_csv("../RawData/CSVs/2013-09 - Citi Bike trip data.csv", low_memory=False)
df2013_09 = pd.DataFrame(csv2013_09)
csv2013_10 = pd.read_csv("../RawData/CSVs/2013-10 - Citi Bike trip data.csv", low_memory=False)
df2013_10 = pd.DataFrame(csv2013_10)
csv2013_11 = pd.read_csv("../RawData/CSVs/2013-11 - Citi Bike trip data.csv", low_memory=False)
df2013_11 = pd.DataFrame(csv2013_11)
csv2013_12 = pd.read_csv("../RawData/CSVs/2013-12 - Citi Bike trip data.csv", low_memory=False)
df2013_12 = pd.DataFrame(csv2013_12)
all2013df = pd.concat([df2013_12, df2013_11, df2013_10, df2013_09, df2013_08, df2013_07, df2013_06])
all2013df = all2013df.dropna()
all2013df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401,Allen St & Rivington St,40.720196,-73.989978,476.0,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,2
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312,Allen St & E Houston St,40.722055,-73.989111,223.0,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,2
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326,E 11 St & 1 Ave,40.729538,-73.984267,291.0,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,2
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021,W 45 St & 8 Ave,40.759291,-73.988597,447.0,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,1
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439,E 4 St & 2 Ave,40.726281,-73.989780,296.0,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,1

In [3]:
csv2014_01 = pd.read_csv("../RawData/CSVs/2014-01 - Citi Bike trip data.csv", low_memory=False)
df2014_01 = pd.DataFrame(csv2014_01)
csv2014_02 = pd.read_csv("../RawData/CSVs/2014-02 - Citi Bike trip data.csv", low_memory=False)
df2014_02 = pd.DataFrame(csv2014_02)
csv2014_03 = pd.read_csv("../RawData/CSVs/2014-03 - Citi Bike trip data.csv", low_memory=False)
df2014_03 = pd.DataFrame(csv2014_03)
csv2014_04 = pd.read_csv("../RawData/CSVs/2014-04 - Citi Bike trip data.csv", low_memory=False)
df2014_04 = pd.DataFrame(csv2014_04)
csv2014_05 = pd.read_csv("../RawData/CSVs/2014-05 - Citi Bike trip data.csv", low_memory=False)
df2014_05 = pd.DataFrame(csv2014_05)
csv2014_06 = pd.read_csv("../RawData/CSVs/2014-06 - Citi Bike trip data.csv", low_memory=False)
df2014_06 = pd.DataFrame(csv2014_06)
csv2014_07 = pd.read_csv("../RawData/CSVs/2014-07 - Citi Bike trip data.csv", low_memory=False)
df2014_07 = pd.DataFrame(csv2014_07)
csv2014_08 = pd.read_csv("../RawData/CSVs/2014-08 - Citi Bike trip data.csv", low_memory=False)
df2014_08 = pd.DataFrame(csv2014_08)
csv2014_09 = pd.read_csv("../RawData/CSVs/201409-citibike-tripdata.csv", low_memory=False)
df2014_09 = pd.DataFrame(csv2014_09)
csv2014_10 = pd.read_csv("../RawData/CSVs/201410-citibike-tripdata.csv", low_memory=False)
df2014_10 = pd.DataFrame(csv2014_10)
csv2014_11 = pd.read_csv("../RawData/CSVs/201411-citibike-tripdata.csv", low_memory=False)
df2014_11 = pd.DataFrame(csv2014_11)
csv2014_12 = pd.read_csv("../RawData/CSVs/201412-citibike-tripdata.csv", low_memory=False)
df2014_12 = pd.DataFrame(csv2014_12)
all2014df = pd.concat([df2014_12, df2014_11, df2014_10, df2014_09, df2014_08, df2014_07, df2014_06, df2014_05, df2014_04, df2014_03, df2014_02, df2014_01])
all2014df = all2014df.dropna()
all2014df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1,275,12/1/2014 00:00:43,12/1/2014 00:05:18,498,Broadway & W 32 St,40.748549,-73.988084,546,E 30 St & Park Ave S,40.744449,-73.983035,18472,Subscriber,1988,2
2,450,12/1/2014 00:01:22,12/1/2014 00:08:52,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19589,Subscriber,1983,1
4,331,12/1/2014 00:02:21,12/1/2014 00:07:52,519,Pershing Square North,40.751873,-73.977706,527,E 33 St & 2 Ave,40.744023,-73.976056,18679,Subscriber,1986,2
5,162,12/1/2014 00:02:37,12/1/2014 00:05:19,229,Great Jones St,40.727434,-73.993790,336,Sullivan St & Washington Sq,40.730477,-73.999061,21668,Subscriber,1973,1
6,155,12/1/2014 00:02:43,12/1/2014 00:05:18,229,Great Jones St,40.727434,-73.993790,336,Sullivan St & Washington Sq,40.730477,-73.999061,16205,Subscriber,1986,1

In [4]:
csv2015_01 = pd.read_csv("../RawData/CSVs/201501-citibike-tripdata.csv", low_memory=False)
df2015_01 = pd.DataFrame(csv2015_01)
csv2015_02 = pd.read_csv("../RawData/CSVs/201502-citibike-tripdata.csv", low_memory=False)
df2015_02 = pd.DataFrame(csv2015_02)
csv2015_03 = pd.read_csv("../RawData/CSVs/201503-citibike-tripdata.csv", low_memory=False)
df2015_03 = pd.DataFrame(csv2015_03)
csv2015_04 = pd.read_csv("../RawData/CSVs/201504-citibike-tripdata.csv", low_memory=False)
df2015_04 = pd.DataFrame(csv2015_04)
csv2015_05 = pd.read_csv("../RawData/CSVs/201505-citibike-tripdata.csv", low_memory=False)
df2015_05 = pd.DataFrame(csv2015_05)
csv2015_06 = pd.read_csv("../RawData/CSVs/201506-citibike-tripdata.csv", low_memory=False)
df2015_06 = pd.DataFrame(csv2015_06)
csv2015_07 = pd.read_csv("../RawData/CSVs/201507-citibike-tripdata.csv", low_memory=False)
df2015_07 = pd.DataFrame(csv2015_07)
csv2015_08 = pd.read_csv("../RawData/CSVs/201508-citibike-tripdata.csv", low_memory=False)
df2015_08 = pd.DataFrame(csv2015_08)
csv2015_09 = pd.read_csv("../RawData/CSVs/201509-citibike-tripdata.csv", low_memory=False)
df2015_09 = pd.DataFrame(csv2015_09)
csv2015_10 = pd.read_csv("../RawData/CSVs/201510-citibike-tripdata.csv", low_memory=False)
df2015_10 = pd.DataFrame(csv2015_10)
csv2015_11 = pd.read_csv("../RawData/CSVs/201511-citibike-tripdata.csv", low_memory=False)
df2015_11 = pd.DataFrame(csv2015_11)
csv2015_12 = pd.read_csv("../RawData/CSVs/201512-citibike-tripdata.csv", low_memory=False)
df2015_12 = pd.DataFrame(csv2015_12)
df2015 = pd.concat([df2015_12, df2015_11, df2015_10, df2015_09, df2015_08, df2015_07, df2015_06, df2015_05, df2015_04, df2015_03, df2015_02, df2015_01])
df2015 = df2015.dropna()
df2015.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,475,12/1/2015 07:35:36,12/1/2015 07:43:32,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760647,-73.984427,22780,Subscriber,1983.0,1
1,684,12/1/2015 07:38:15,12/1/2015 07:49:39,72,W 52 St & 11 Ave,40.767272,-73.993929,520,W 52 St & 5 Ave,40.759923,-73.976485,17787,Subscriber,1975.0,1
2,1063,12/1/2015 07:44:49,12/1/2015 08:02:33,72,W 52 St & 11 Ave,40.767272,-73.993929,358,Christopher St & Greenwich St,40.732916,-74.007114,18797,Subscriber,1966.0,1
3,1075,12/1/2015 08:02:29,12/1/2015 08:20:24,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,14625,Subscriber,1985.0,1
4,293,12/1/2015 08:06:37,12/1/2015 08:11:30,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,21238,Subscriber,1968.0,1

In [5]:
csv2016_01 = pd.read_csv("../RawData/CSVs/201601-citibike-tripdata.csv", low_memory=False)
df2016_01 = pd.DataFrame(csv2016_01)
csv2016_02 = pd.read_csv("../RawData/CSVs/201602-citibike-tripdata.csv", low_memory=False)
df2016_02 = pd.DataFrame(csv2016_02)
csv2016_03 = pd.read_csv("../RawData/CSVs/201603-citibike-tripdata.csv", low_memory=False)
df2016_03 = pd.DataFrame(csv2016_03)
csv2016_04 = pd.read_csv("../RawData/CSVs/201604-citibike-tripdata.csv", low_memory=False)
df2016_04 = pd.DataFrame(csv2016_04)
csv2016_05 = pd.read_csv("../RawData/CSVs/201605-citibike-tripdata.csv", low_memory=False)
df2016_05 = pd.DataFrame(csv2016_05)
csv2016_06 = pd.read_csv("../RawData/CSVs/201606-citibike-tripdata.csv", low_memory=False)
df2016_06 = pd.DataFrame(csv2016_06)
csv2016_07 = pd.read_csv("../RawData/CSVs/201607-citibike-tripdata.csv", low_memory=False)
df2016_07 = pd.DataFrame(csv2016_07)
csv2016_08 = pd.read_csv("../RawData/CSVs/201608-citibike-tripdata.csv", low_memory=False)
df2016_08 = pd.DataFrame(csv2016_08)
csv2016_09 = pd.read_csv("../RawData/CSVs/201609-citibike-tripdata.csv", low_memory=False)
df2016_09 = pd.DataFrame(csv2016_09)
csv2016_10 = pd.read_csv("../RawData/CSVs/201610-citibike-tripdata.csv", low_memory=False)
df2016_10 = pd.DataFrame(csv2016_10)
df2016_10 = df2016_10.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csv2016_11 = pd.read_csv("../RawData/CSVs/201611-citibike-tripdata.csv", low_memory=False)
df2016_11 = pd.DataFrame(csv2016_11)
df2016_11 = df2016_11.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csv2016_12 = pd.read_csv("../RawData/CSVs/201612-citibike-tripdata.csv", low_memory=False)
df2016_12 = pd.DataFrame(csv2016_12)
df2016_12 = df2016_12.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
df2016 = pd.concat([df2016_12, df2016_11, df2016_10, df2016_09, df2016_08, df2016_07, df2016_06, df2016_05, df2016_04, df2016_03, df2016_03, df2016_01])
df2016 = df2016.dropna()
df2016.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1

In [6]:
csv2017_01 = pd.read_csv("../RawData/CSVs/201701-citibike-tripdata.csv", low_memory=False)
df2017_01 = pd.DataFrame(csv2017_01)
df2017_01 = df2017_01.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csv2017_02 = pd.read_csv("../RawData/CSVs/201702-citibike-tripdata.csv", low_memory=False)
df2017_02 = pd.DataFrame(csv2017_02)
df2017_02 = df2017_02.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csv2017_03 = pd.read_csv("../RawData/CSVs/201703-citibike-tripdata.csv", low_memory=False)
df2017_03 = pd.DataFrame(csv2017_03)
df2017_03 = df2017_03.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csv2017_04 = pd.read_csv("../RawData/CSVs/201704-citibike-tripdata.csv", low_memory=False)
df2017_04 = pd.DataFrame(csv2017_04)
csv2017_05 = pd.read_csv("../RawData/CSVs/201705-citibike-tripdata.csv", low_memory=False)
df2017_05 = pd.DataFrame(csv2017_05)
csv2017_06 = pd.read_csv("../RawData/CSVs/201706-citibike-tripdata.csv", low_memory=False)
df2017_06 = pd.DataFrame(csv2017_06)
csv2017_07 = pd.read_csv("../RawData/CSVs/201707-citibike-tripdata.csv", low_memory=False)
df2017_07 = pd.DataFrame(csv2017_07)
csv2017_08 = pd.read_csv("../RawData/CSVs/201708-citibike-tripdata.csv", low_memory=False)
df2017_08 = pd.DataFrame(csv2017_08)
csv2017_09 = pd.read_csv("../RawData/CSVs/201709-citibike-tripdata.csv", low_memory=False)
df2017_09 = pd.DataFrame(csv2017_09)
csv2017_10 = pd.read_csv("../RawData/CSVs/201710-citibike-tripdata.csv", low_memory=False)
df2017_10 = pd.DataFrame(csv2017_10)
csv2017_11 = pd.read_csv("../RawData/CSVs/201711-citibike-tripdata.csv", low_memory=False)
df2017_11 = pd.DataFrame(csv2017_11)
csv2017_12 = pd.read_csv("../RawData/CSVs/201712-citibike-tripdata.csv", low_memory=False)
df2017_12 = pd.DataFrame(csv2017_12)
df2017 = pd.concat([df2017_12, df2017_11, df2017_10, df2017_09, df2017_08, df2017_07, df2017_06, df2017_05, df2017_04, df2017_03, df2017_02, df2017_01])
df2017 = df2017.dropna()
df2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [7]:
csv2018_01 = pd.read_csv("../RawData/CSVs/201801-citibike-tripdata.csv", low_memory=False)
df2018_01 = pd.DataFrame(csv2018_01)
csv2018_02 = pd.read_csv("../RawData/CSVs/201802-citibike-tripdata.csv", low_memory=False)
df2018_02 = pd.DataFrame(csv2018_02)
csv2018_03 = pd.read_csv("../RawData/CSVs/201803-citibike-tripdata.csv", low_memory=False)
df2018_03 = pd.DataFrame(csv2018_03)
csv2018_04 = pd.read_csv("../RawData/CSVs/201804-citibike-tripdata.csv", low_memory=False)
df2018_04 = pd.DataFrame(csv2018_04)
csv2018_05 = pd.read_csv("../RawData/CSVs/201805-citibike-tripdata.csv", low_memory=False)
df2018_05 = pd.DataFrame(csv2018_05)
csv2018_06 = pd.read_csv("../RawData/CSVs/201806-citibike-tripdata.csv", low_memory=False)
df2018_06 = pd.DataFrame(csv2018_06)
csv2018_07 = pd.read_csv("../RawData/CSVs/201807-citibike-tripdata.csv", low_memory=False)
df2018_07 = pd.DataFrame(csv2018_07)
csv2018_08 = pd.read_csv("../RawData/CSVs/201808-citibike-tripdata.csv", low_memory=False)
df2018_08 = pd.DataFrame(csv2018_08)
csv2018_09 = pd.read_csv("../RawData/CSVs/201809-citibike-tripdata.csv", low_memory=False)
df2018_09 = pd.DataFrame(csv2018_09)
csv2018_10 = pd.read_csv("../RawData/CSVs/201810-citibike-tripdata.csv", low_memory=False)
df2018_10 = pd.DataFrame(csv2018_10)
csv2018_11 = pd.read_csv("../RawData/CSVs/201811-citibike-tripdata.csv", low_memory=False)
df2018_11 = pd.DataFrame(csv2018_11)
csv2018_12 = pd.read_csv("../RawData/CSVs/201812-citibike-tripdata.csv", low_memory=False)
df2018_12 = pd.DataFrame(csv2018_12)
df2018 = pd.concat([df2018_12, df2018_11, df2018_10, df2018_09, df2018_08, df2018_07, df2018_06, df2018_05, df2018_04, df2018_03, df2018_02, df2018_01])
df2018 = df2018.dropna()
df2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [8]:
csv2019_01 = pd.read_csv("../RawData/CSVs/201901-citibike-tripdata.csv", low_memory=False)
df2019_01 = pd.DataFrame(csv2019_01)
csv2019_02 = pd.read_csv("../RawData/CSVs/201902-citibike-tripdata.csv", low_memory=False)
df2019_02 = pd.DataFrame(csv2019_02)
csv2019_03 = pd.read_csv("../RawData/CSVs/201903-citibike-tripdata.csv", low_memory=False)
df2019_03 = pd.DataFrame(csv2019_03)
csv2019_04 = pd.read_csv("../RawData/CSVs/201904-citibike-tripdata.csv", low_memory=False)
df2019_04 = pd.DataFrame(csv2019_04)
csv2019_05 = pd.read_csv("../RawData/CSVs/201905-citibike-tripdata.csv", low_memory=False)
df2019_05 = pd.DataFrame(csv2019_05)
csv2019_06 = pd.read_csv("../RawData/CSVs/201906-citibike-tripdata.csv", low_memory=False)
df2019_06 = pd.DataFrame(csv2019_06)
csv2019_07 = pd.read_csv("../RawData/CSVs/201907-citibike-tripdata.csv", low_memory=False)
df2019_07 = pd.DataFrame(csv2019_07)
csv2019_08 = pd.read_csv("../RawData/CSVs/201908-citibike-tripdata.csv", low_memory=False)
df2019_08 = pd.DataFrame(csv2019_08)
csv2019_09 = pd.read_csv("../RawData/CSVs/201909-citibike-tripdata.csv", low_memory=False)
df2019_09 = pd.DataFrame(csv2019_09)
csv2019_10 = pd.read_csv("../RawData/CSVs/201910-citibike-tripdata.csv", low_memory=False)
df2019_10 = pd.DataFrame(csv2019_10)
csv2019_11 = pd.read_csv("../RawData/CSVs/201911-citibike-tripdata.csv", low_memory=False)
df2019_11 = pd.DataFrame(csv2019_11)
csv2019_12 = pd.read_csv("../RawData/CSVs/201912-citibike-tripdata.csv", low_memory=False)
df2019_12 = pd.DataFrame(csv2019_12)
df2019 = pd.concat([df2019_12, df2019_11, df2019_10, df2019_09, df2019_08, df2019_07, df2019_06, df2019_05, df2019_04, df2019_03, df2019_02, df2019_01])
df2019 = df2019.dropna()
df2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382.0,Carroll St & Smith St,40.680611,-73.994758,3304.0,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362.0,Broadway & W 37 St,40.751726,-73.987535,500.0,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
2,723,2019-12-01 00:00:11.8180,2019-12-01 00:12:14.8310,146.0,Hudson St & Reade St,40.716250,-74.009106,238.0,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1
3,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834.0,Irving Ave & Halsey St,40.694670,-73.906630,3827.0,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1
4,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500.0,Broadway & W 51 St,40.762288,-73.983362,3323.0,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1

In [9]:
csv2020_01 = pd.read_csv("../RawData/CSVs/202001-citibike-tripdata.csv", low_memory=False)
df2020_01 = pd.DataFrame(csv2020_01)
csv2020_02 = pd.read_csv("../RawData/CSVs/202002-citibike-tripdata.csv", low_memory=False)
df2020_02 = pd.DataFrame(csv2020_02)
csv2020_03 = pd.read_csv("../RawData/CSVs/202003-citibike-tripdata.csv", low_memory=False)
df2020_03 = pd.DataFrame(csv2020_03)
csv2020_04 = pd.read_csv("../RawData/CSVs/202004-citibike-tripdata.csv", low_memory=False)
df2020_04 = pd.DataFrame(csv2020_04)
csv2020_05 = pd.read_csv("../RawData/CSVs/202005-citibike-tripdata.csv", low_memory=False)
df2020_05 = pd.DataFrame(csv2020_05)
csv2020_06 = pd.read_csv("../RawData/CSVs/202006-citibike-tripdata.csv", low_memory=False)
df2020_06 = pd.DataFrame(csv2020_06)
csv2020_07 = pd.read_csv("../RawData/CSVs/202007-citibike-tripdata.csv", low_memory=False)
df2020_07 = pd.DataFrame(csv2020_07)
csv2020_08 = pd.read_csv("../RawData/CSVs/202008-citibike-tripdata.csv", low_memory=False)
df2020_08 = pd.DataFrame(csv2020_08)
csv2020_09 = pd.read_csv("../RawData/CSVs/202009-citibike-tripdata.csv", low_memory=False)
df2020_09 = pd.DataFrame(csv2020_09)
csv2020_10 = pd.read_csv("../RawData/CSVs/202010-citibike-tripdata.csv", low_memory=False)
df2020_10 = pd.DataFrame(csv2020_10)
csv2020_11 = pd.read_csv("../RawData/CSVs/202011-citibike-tripdata.csv", low_memory=False)
df2020_11 = pd.DataFrame(csv2020_11)
csv2020_12 = pd.read_csv("../RawData/CSVs/202012-citibike-tripdata.csv", low_memory=False)
df2020_12 = pd.DataFrame(csv2020_12)
csv2021_01 = pd.read_csv("../RawData/CSVs/202101-citibike-tripdata.csv", low_memory=False)
df2021_01 = pd.DataFrame(csv2021_01)
df2020_2021_01 = pd.concat([df2020_12, df2020_11, df2020_10, df2020_09, df2020_08, df2020_07, df2020_06, df2020_05, df2020_04, df2020_03, df2020_02, df2020_01, df2021_01])
df2020_2021_01 = df2020_2021_01.dropna()
df2020_2021_01.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,2
1,4131,2020-12-01 00:00:09.1730,2020-12-01 01:09:00.2370,3284,E 88 St & Park Ave,40.781411,-73.955959,3147,E 85 St & 3 Ave,40.778012,-73.954071,49524,Subscriber,1988,1
2,1368,2020-12-01 00:00:28.7470,2020-12-01 00:23:16.9980,3443,W 52 St & 6 Ave,40.761330,-73.979820,3563,28 St & 36 Ave,40.757186,-73.932719,34312,Subscriber,1977,2
3,1707,2020-12-01 00:00:34.7680,2020-12-01 00:29:02.6470,72,W 52 St & 11 Ave,40.767272,-73.993929,3336,E 97 St & Madison Ave,40.787801,-73.953559,45491,Subscriber,1982,0
4,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,1

In [10]:
csv2021_02 = pd.read_csv("../RawData/CSVs/202102-citibike-tripdata.csv", low_memory=False)
df2021_02 = pd.DataFrame(csv2021_02)
csv2021_03 = pd.read_csv("../RawData/CSVs/202103-citibike-tripdata.csv", low_memory=False)
df2021_03 = pd.DataFrame(csv2021_03)
csv2021_04 = pd.read_csv("../RawData/CSVs/202104-citibike-tripdata.csv", low_memory=False)
df2021_04 = pd.DataFrame(csv2021_04)
csv2021_05 = pd.read_csv("../RawData/CSVs/202105-citibike-tripdata.csv", low_memory=False)
df2021_05 = pd.DataFrame(csv2021_05)
csv2021_06 = pd.read_csv("../RawData/CSVs/202106-citibike-tripdata.csv", low_memory=False)
df2021_06 = pd.DataFrame(csv2021_06)
df2021_NO_01 = pd.concat([df2021_06, df2021_05, df2021_04, df2021_03, df2021_02])
df2021_NO_01 = df2021_NO_01.dropna()
df2021_NO_01.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6339C86D47EC0FAB,docked_bike,2021-06-02 17:18:45,2021-06-02 17:26:17,W 51 St & 6 Ave,6740.1,E 66 St & Madison Ave,6969.08,40.760659,-73.980420,40.768009,-73.968453,member
1,CDE3C147775B4002,docked_bike,2021-06-04 21:01:46,2021-06-04 21:32:09,W 56 St & 10 Ave,6955.01,E 9 St & Avenue C,5616.01,40.768254,-73.988639,40.725213,-73.977688,member
2,D335C3F6B412B846,docked_bike,2021-06-15 16:39:36,2021-06-15 16:55:02,E 56 St & Madison Ave,6732.01,E 16 St & 5 Ave,6022.04,40.761573,-73.972628,40.737262,-73.992390,member
3,8DA6810777C89735,docked_bike,2021-06-08 11:36:40,2021-06-08 11:39:41,E 68 St & 3 Ave,6896.16,1 Ave & E 62 St,6753.08,40.767128,-73.962246,40.761227,-73.960940,member
4,62D9B66A3A1D9FDF,docked_bike,2021-06-18 12:48:43,2021-06-18 13:04:14,E 48 St & 5 Ave,6626.01,W 20 St & 8 Ave,6224.05,40.757245,-73.978059,40.743453,-74.000040,member

In [11]:
csvJC2015_09 = pd.read_csv("../RawData/CSVs/JC-201509-citibike-tripdata.csv", low_memory=False)
dfJC2015_09 = pd.DataFrame(csvJC2015_09)
csvJC2015_10 = pd.read_csv("../RawData/CSVs/JC-201510-citibike-tripdata.csv", low_memory=False)
dfJC2015_10 = pd.DataFrame(csvJC2015_10)
csvJC2015_11 = pd.read_csv("../RawData/CSVs/JC-201511-citibike-tripdata.csv", low_memory=False)
dfJC2015_11 = pd.DataFrame(csvJC2015_11)
dfJC2015 = pd.concat([dfJC2015_11, dfJC2015_10, dfJC2015_09])
dfJC2015 = dfJC2015.dropna()
dfJC2015 = dfJC2015.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
dfJC2015.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,141,2015-11-01 00:05:00,2015-11-01 00:07:21,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,24592,Subscriber,1989.0,1
1,487,2015-11-01 00:05:34,2015-11-01 00:13:41,3186,Grove St PATH,40.719586,-74.043117,3214,Essex Light Rail,40.712774,-74.036486,24525,Subscriber,1980.0,1
2,153,2015-11-01 00:21:15,2015-11-01 00:23:48,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,24422,Subscriber,1981.0,1
3,196,2015-11-01 01:11:31,2015-11-01 01:14:47,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,24592,Subscriber,1989.0,1
4,724,2015-11-01 01:14:52,2015-11-01 01:26:56,3202,Newport PATH,40.727224,-74.033759,3206,Hilltop,40.731169,-74.057574,24519,Subscriber,1991.0,1

In [12]:
csvJC2016_01 = pd.read_csv("../RawData/CSVs/JC-20161-citibike-tripdata.csv", low_memory=False)
dfJC2016_01 = pd.DataFrame(csvJC2016_01)
csvJC2016_02 = pd.read_csv("../RawData/CSVs/JC-20162-citibike-tripdata.csv", low_memory=False)
dfJC2016_02 = pd.DataFrame(csvJC2016_02)
csvJC2016_03 = pd.read_csv("../RawData/CSVs/JC-20163-citibike-tripdata.csv", low_memory=False)
dfJC2016_03 = pd.DataFrame(csvJC2016_03)
csvJC2016_04 = pd.read_csv("../RawData/CSVs/JC-201604-citibike-tripdata.csv", low_memory=False)
dfJC2016_04 = pd.DataFrame(csvJC2016_04)
csvJC2016_05 = pd.read_csv("../RawData/CSVs/JC-201605-citibike-tripdata.csv", low_memory=False)
dfJC2016_05 = pd.DataFrame(csvJC2016_05)
csvJC2016_06 = pd.read_csv("../RawData/CSVs/JC-201606-citibike-tripdata.csv", low_memory=False)
dfJC2016_06 = pd.DataFrame(csvJC2016_06)
csvJC2016_07 = pd.read_csv("../RawData/CSVs/JC-201607-citibike-tripdata.csv", low_memory=False)
dfJC2016_07 = pd.DataFrame(csvJC2016_07)
csvJC2016_08 = pd.read_csv("../RawData/CSVs/JC-201608-citibike-tripdata.csv", low_memory=False)
dfJC2016_08 = pd.DataFrame(csvJC2016_08)
csvJC2016_09 = pd.read_csv("../RawData/CSVs/JC-201609-citibike-tripdata.csv", low_memory=False)
dfJC2016_09 = pd.DataFrame(csvJC2016_09)
csvJC2016_10 = pd.read_csv("../RawData/CSVs/JC-201610-citibike-tripdata.csv", low_memory=False)
dfJC2016_10 = pd.DataFrame(csvJC2016_10)
csvJC2016_11 = pd.read_csv("../RawData/CSVs/JC-201611-citibike-tripdata.csv", low_memory=False)
dfJC2016_11 = pd.DataFrame(csvJC2016_11)
csvJC2016_12 = pd.read_csv("../RawData/CSVs/JC-201612-citibike-tripdata.csv", low_memory=False)
dfJC2016_12 = pd.DataFrame(csvJC2016_12)
dfJC2016 = pd.concat([dfJC2016_12, dfJC2016_11, dfJC2016_10, dfJC2016_09, dfJC2016_08, dfJC2016_07, dfJC2016_06, dfJC2016_05, dfJC2016_04, dfJC2016_03, dfJC2016_02, dfJC2016_01])
dfJC2016 = dfJC2016.dropna()
dfJC2016 = dfJC2016.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
dfJC2016.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,204,2016-12-01 00:33:31,2016-12-01 00:36:55,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,2016-12-01 00:56:09,2016-12-01 01:06:16,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,2016-12-01 01:14:22,2016-12-01 01:17:27,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,2016-12-01 01:29:52,2016-12-01 01:38:17,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,2016-12-01 01:47:14,2016-12-01 01:58:27,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1

In [13]:
csvJC2017_01 = pd.read_csv("../RawData/CSVs/JC-201701-citibike-tripdata.csv", low_memory=False)
dfJC2017_01 = pd.DataFrame(csvJC2017_01)
dfJC2017_01 = dfJC2017_01.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csvJC2017_02 = pd.read_csv("../RawData/CSVs/JC-201702-citibike-tripdata.csv", low_memory=False)
dfJC2017_02 = pd.DataFrame(csvJC2017_02)
dfJC2017_02 = dfJC2017_02.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csvJC2017_03 = pd.read_csv("../RawData/CSVs/JC-201703-citibike-tripdata.csv", low_memory=False)
dfJC2017_03 = pd.DataFrame(csvJC2017_03)
dfJC2017_03 = dfJC2017_03.rename(columns={'Trip Duration': 'tripduration', 'Start Time': 'starttime', 'Stop Time': 'stoptime', 
                          'Start Station ID': 'start station id', 'Start Station Name': 'start station name', 
                          'Start Station Latitude': 'start station latitude', 'Start Station Longitude': 'start station longitude',
                          'End Station ID': 'end station id', 'End Station Name': 'end station name', 
                          'End Station Latitude': 'end station latitude', 'End Station Longitude': 'end station longitude', 
                          'Bike ID': 'bikeid', 'User Type': 'usertype','Birth Year': 'birth year', 'Gender': 'gender'})
csvJC2017_04 = pd.read_csv("../RawData/CSVs/JC-201704-citibike-tripdata.csv", low_memory=False)
dfJC2017_04 = pd.DataFrame(csvJC2017_04)
csvJC2017_05 = pd.read_csv("../RawData/CSVs/JC-201705-citibike-tripdata.csv", low_memory=False)
dfJC2017_05 = pd.DataFrame(csvJC2017_05)
csvJC2017_06 = pd.read_csv("../RawData/CSVs/JC-201706-citibike-tripdata.csv", low_memory=False)
dfJC2017_06 = pd.DataFrame(csvJC2017_06)
csvJC2017_07 = pd.read_csv("../RawData/CSVs/JC-201707-citibike-tripdata.csv", low_memory=False)
dfJC2017_07 = pd.DataFrame(csvJC2017_07)
csvJC2017_08 = pd.read_csv("../RawData/CSVs/JC-201708-citibike-tripdata.csv", low_memory=False)
dfJC2017_08 = pd.DataFrame(csvJC2017_08)
csvJC2017_09 = pd.read_csv("../RawData/CSVs/JC-201709-citibike-tripdata.csv", low_memory=False)
dfJC2017_09 = pd.DataFrame(csvJC2017_09)
csvJC2017_10 = pd.read_csv("../RawData/CSVs/JC-201710-citibike-tripdata.csv", low_memory=False)
dfJC2017_10 = pd.DataFrame(csvJC2017_10)
csvJC2017_11 = pd.read_csv("../RawData/CSVs/JC-201711-citibike-tripdata.csv", low_memory=False)
dfJC2017_11 = pd.DataFrame(csvJC2017_11)
csvJC2017_12 = pd.read_csv("../RawData/CSVs/JC-201712-citibike-tripdata.csv", low_memory=False)
dfJC2017_12 = pd.DataFrame(csvJC2017_12)
dfJC2017 = pd.concat([dfJC2017_12, dfJC2017_11, dfJC2017_10, dfJC2017_09, dfJC2017_08, dfJC2017_07, dfJC2017_06, dfJC2017_05, dfJC2017_04, dfJC2017_03, dfJC2017_02, dfJC2017_01])
dfJC2017 = dfJC2017.dropna()
dfJC2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,2017-12-01 00:00:59,2017-12-01 00:08:32,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,2017-12-01 00:04:42,2017-12-01 00:07:21,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,2017-12-01 00:17:00,2017-12-01 00:19:55,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,2017-12-01 00:50:22,2017-12-01 00:57:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,2017-12-01 00:55:03,2017-12-01 01:06:13,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1

In [14]:
csvJC2018_01 = pd.read_csv("../RawData/CSVs/JC-201801-citibike-tripdata.csv", low_memory=False)
dfJC2018_01 = pd.DataFrame(csvJC2018_01)
csvJC2018_02 = pd.read_csv("../RawData/CSVs/JC-201802-citibike-tripdata.csv", low_memory=False)
dfJC2018_02 = pd.DataFrame(csvJC2018_02)
csvJC2018_03 = pd.read_csv("../RawData/CSVs/JC-201803-citibike-tripdata.csv", low_memory=False)
dfJC2018_03 = pd.DataFrame(csvJC2018_03)
csvJC2018_04 = pd.read_csv("../RawData/CSVs/JC-201804-citibike-tripdata.csv", low_memory=False)
dfJC2018_04 = pd.DataFrame(csvJC2018_04)
csvJC2018_05 = pd.read_csv("../RawData/CSVs/JC-201805-citibike-tripdata.csv", low_memory=False)
dfJC2018_05 = pd.DataFrame(csvJC2018_05)
csvJC2018_06 = pd.read_csv("../RawData/CSVs/JC-201806-citibike-tripdata.csv", low_memory=False)
dfJC2018_06 = pd.DataFrame(csvJC2018_06)
csvJC2018_07 = pd.read_csv("../RawData/CSVs/JC-201807-citibike-tripdata.csv", low_memory=False)
dfJC2018_07 = pd.DataFrame(csvJC2018_07)
csvJC2018_08 = pd.read_csv("../RawData/CSVs/JC-201808-citibike-tripdata.csv", low_memory=False)
dfJC2018_08 = pd.DataFrame(csvJC2018_08)
csvJC2018_09 = pd.read_csv("../RawData/CSVs/JC-201809-citibike-tripdata.csv", low_memory=False)
dfJC2018_09 = pd.DataFrame(csvJC2018_09)
csvJC2018_10 = pd.read_csv("../RawData/CSVs/JC-201810-citibike-tripdata.csv", low_memory=False)
dfJC2018_10 = pd.DataFrame(csvJC2018_10)
csvJC2018_11 = pd.read_csv("../RawData/CSVs/JC-201811-citibike-tripdata.csv", low_memory=False)
dfJC2018_11 = pd.DataFrame(csvJC2018_11)
csvJC2018_12 = pd.read_csv("../RawData/CSVs/JC-201812-citibike-tripdata.csv", low_memory=False)
dfJC2018_12 = pd.DataFrame(csvJC2018_12)
dfJC2018 = pd.concat([dfJC2018_12, dfJC2018_11, dfJC2018_10, dfJC2018_09, dfJC2018_08, dfJC2018_07, dfJC2018_06, dfJC2018_05, dfJC2018_04, dfJC2018_03, dfJC2018_02, dfJC2018_01])
dfJC2018 = dfJC2018.dropna()
dfJC2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [15]:
csvJC2019_01 = pd.read_csv("../RawData/CSVs/JC-201901-citibike-tripdata.csv", low_memory=False)
dfJC2019_01 = pd.DataFrame(csvJC2019_01)
csvJC2019_02 = pd.read_csv("../RawData/CSVs/JC-201902-citibike-tripdata.csv", low_memory=False)
dfJC2019_02 = pd.DataFrame(csvJC2019_02)
csvJC2019_03 = pd.read_csv("../RawData/CSVs/JC-201903-citibike-tripdata.csv", low_memory=False)
dfJC2019_03 = pd.DataFrame(csvJC2019_03)
csvJC2019_04 = pd.read_csv("../RawData/CSVs/JC-201904-citibike-tripdata.csv", low_memory=False)
dfJC2019_04 = pd.DataFrame(csvJC2019_04)
csvJC2019_05 = pd.read_csv("../RawData/CSVs/JC-201905-citibike-tripdata.csv", low_memory=False)
dfJC2019_05 = pd.DataFrame(csvJC2019_05)
csvJC2019_06 = pd.read_csv("../RawData/CSVs/JC-201906-citibike-tripdata.csv", low_memory=False)
dfJC2019_06 = pd.DataFrame(csvJC2019_06)
csvJC2019_07 = pd.read_csv("../RawData/CSVs/JC-201907-citibike-tripdata.csv", low_memory=False)
dfJC2019_07 = pd.DataFrame(csvJC2019_07)
csvJC2019_08 = pd.read_csv("../RawData/CSVs/JC-201908-citibike-tripdata.csv", low_memory=False)
dfJC2019_08 = pd.DataFrame(csvJC2019_08)
csvJC2019_09 = pd.read_csv("../RawData/CSVs/JC-201909-citibike-tripdata.csv", low_memory=False)
dfJC2019_09 = pd.DataFrame(csvJC2019_09)
csvJC2019_10 = pd.read_csv("../RawData/CSVs/JC-201910-citibike-tripdata.csv", low_memory=False)
dfJC2019_10 = pd.DataFrame(csvJC2019_10)
csvJC2019_11 = pd.read_csv("../RawData/CSVs/JC-201911-citibike-tripdata.csv", low_memory=False)
dfJC2019_11 = pd.DataFrame(csvJC2019_11)
csvJC2019_12 = pd.read_csv("../RawData/CSVs/JC-201912-citibike-tripdata.csv", low_memory=False)
dfJC2019_12 = pd.DataFrame(csvJC2019_12)
dfJC2019 = pd.concat([dfJC2019_12, dfJC2019_11, dfJC2019_10, dfJC2019_09, dfJC2019_08, dfJC2019_07, dfJC2019_06, dfJC2019_05, dfJC2019_04, dfJC2019_03, dfJC2019_02, dfJC2019_01])
dfJC2019 = dfJC2019.dropna()
dfJC2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [16]:
csvJC2020_01 = pd.read_csv("../RawData/CSVs/JC-202001-citibike-tripdata.csv", low_memory=False)
dfJC2020_01 = pd.DataFrame(csvJC2020_01)
csvJC2020_02 = pd.read_csv("../RawData/CSVs/JC-202002-citibike-tripdata.csv", low_memory=False)
dfJC2020_02 = pd.DataFrame(csvJC2020_02)
csvJC2020_03 = pd.read_csv("../RawData/CSVs/JC-202003-citibike-tripdata.csv", low_memory=False)
dfJC2020_03 = pd.DataFrame(csvJC2020_03)
csvJC2020_04 = pd.read_csv("../RawData/CSVs/JC-202004-citibike-tripdata.csv", low_memory=False)
dfJC2020_04 = pd.DataFrame(csvJC2020_04)
csvJC2020_05 = pd.read_csv("../RawData/CSVs/JC-202005-citibike-tripdata.csv", low_memory=False)
dfJC2020_05 = pd.DataFrame(csvJC2020_05)
csvJC2020_06 = pd.read_csv("../RawData/CSVs/JC-202006-citibike-tripdata.csv", low_memory=False)
dfJC2020_06 = pd.DataFrame(csvJC2020_06)
csvJC2020_07 = pd.read_csv("../RawData/CSVs/JC-202007-citibike-tripdata.csv", low_memory=False)
dfJC2020_07 = pd.DataFrame(csvJC2020_07)
csvJC2020_08 = pd.read_csv("../RawData/CSVs/JC-202008-citibike-tripdata.csv", low_memory=False)
dfJC2020_08 = pd.DataFrame(csvJC2020_08)
csvJC2020_09 = pd.read_csv("../RawData/CSVs/JC-202009-citibike-tripdata.csv", low_memory=False)
dfJC2020_09 = pd.DataFrame(csvJC2020_09)
csvJC2020_10 = pd.read_csv("../RawData/CSVs/JC-202010-citibike-tripdata.csv", low_memory=False)
dfJC2020_10 = pd.DataFrame(csvJC2020_10)
csvJC2020_11 = pd.read_csv("../RawData/CSVs/JC-202011-citibike-tripdata.csv", low_memory=False)
dfJC2020_11 = pd.DataFrame(csvJC2020_11)
csvJC2020_12 = pd.read_csv("../RawData/CSVs/JC-202012-citibike-tripdata.csv", low_memory=False)
dfJC2020_12 = pd.DataFrame(csvJC2020_12)
csvJC2021_01 = pd.read_csv("../RawData/CSVs/JC-202101-citibike-tripdata.csv", low_memory=False)
dfJC2021_01 = pd.DataFrame(csvJC2021_01)
dfJC2020_2021_01 = pd.concat([dfJC2020_12, dfJC2020_11, dfJC2020_10, dfJC2020_09, dfJC2020_08, dfJC2020_07, dfJC2020_06, dfJC2020_05, dfJC2020_04, dfJC2020_03, dfJC2020_02, dfJC2020_01, dfJC2021_01])
dfJC2020_2021_01 = dfJC2020_2021_01.dropna()
dfJC2020_2021_01.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [17]:
csvJC2021_02 = pd.read_csv("../RawData/CSVs/JC-202102-citibike-tripdata.csv", low_memory=False)
dfJC2021_02 = pd.DataFrame(csvJC2021_02)
csvJC2021_03 = pd.read_csv("../RawData/CSVs/JC-202103-citibike-tripdata.csv", low_memory=False)
dfJC2021_03 = pd.DataFrame(csvJC2021_03)
csvJC2021_04 = pd.read_csv("../RawData/CSVs/JC-202104-citibike-tripdata.csv", low_memory=False)
dfJC2021_04 = pd.DataFrame(csvJC2021_04)
csvJC2021_05 = pd.read_csv("../RawData/CSVs/JC-202105-citibike-tripdata.csv", low_memory=False)
dfJC2021_05 = pd.DataFrame(csvJC2021_05)
csvJC2021_06 = pd.read_csv("../RawData/CSVs/JC-202106-citibike-tripdata.csv", low_memory=False)
dfJC2021_06 = pd.DataFrame(csvJC2021_06)
dfJC2021_NO_01 = pd.concat([dfJC2021_06, dfJC2021_05, dfJC2021_04, dfJC2021_03, dfJC2021_02])
dfJC2021_NO_01 = dfJC2021_NO_01.dropna()
dfJC2021_NO_01.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6457BC38526A4187,docked_bike,2021-06-21 10:19:04,2021-06-21 10:26:28,Lafayette Park,JC078,City Hall,JC003,40.713463,-74.062858,40.717733,-74.043845,member
1,508AC0C37B2BE1A8,docked_bike,2021-06-05 10:12:18,2021-06-05 10:27:10,Mama Johnson Field - 4 St & Jackson St,HB404,Bloomfield St & 15 St,HB203,40.743139,-74.040040,40.754530,-74.026580,member
2,A1AD52779E13308C,docked_bike,2021-06-04 15:42:35,2021-06-04 15:54:28,Lincoln Park,JC053,Grand St,JC102,40.724605,-74.078405,40.715178,-74.037683,member
3,DA8AA7083ACCA940,docked_bike,2021-06-03 18:07:42,2021-06-03 19:09:26,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
4,BF8DB08AEF78C8D1,docked_bike,2021-06-05 15:39:56,2021-06-05 16:16:09,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual

In [18]:
all2021_NO_01df = pd.concat([dfJC2021_NO_01, df2021_NO_01])
all2021_NO_01df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6457BC38526A4187,docked_bike,2021-06-21 10:19:04,2021-06-21 10:26:28,Lafayette Park,JC078,City Hall,JC003,40.713463,-74.062858,40.717733,-74.043845,member
1,508AC0C37B2BE1A8,docked_bike,2021-06-05 10:12:18,2021-06-05 10:27:10,Mama Johnson Field - 4 St & Jackson St,HB404,Bloomfield St & 15 St,HB203,40.743139,-74.040040,40.754530,-74.026580,member
2,A1AD52779E13308C,docked_bike,2021-06-04 15:42:35,2021-06-04 15:54:28,Lincoln Park,JC053,Grand St,JC102,40.724605,-74.078405,40.715178,-74.037683,member
3,DA8AA7083ACCA940,docked_bike,2021-06-03 18:07:42,2021-06-03 19:09:26,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
4,BF8DB08AEF78C8D1,docked_bike,2021-06-05 15:39:56,2021-06-05 16:16:09,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
649978,84DA58E73B2DF079,docked_bike,2021-02-12 16:01:17,2021-02-12 16:13:53,Irving Ave & DeKalb Ave,4898.02,Irving Ave & DeKalb Ave,4898.02,40.702700,-73.920950,40.702700,-73.920950,member
649979,3A14299B4F7FA1CF,docked_bike,2021-02-17 18:03:24,2021-02-17 18:06:39,E 47 St & Park Ave,6584.12,E 47 St & Park Ave,6584.12,40.755102,-73.974986,40.755103,-73.974987,member
649980,7B86EE3DC7E026BC,docked_bike,2021-02-28 18:58:31,2021-02-28 19:12:51,Cedar St & Evergreen Ave,4721.01,Cedar St & Evergreen Ave,4721.01,40.696710,-73.928070,40.696710,-73.928070,casual
649981,D665B8623FC01285,docked_bike,2021-02-25 09:00:41,2021-02-25 09:13:56,Bedford Ave & Bergen St,4066.15,Cedar St & Evergreen Ave,4721.01,40.676368,-73.952918,40.696710,-73.928070,casual
649982,08A07BB378B0FE2F,docked_bike,2021-02-08 13:31:57,2021-02-08 13:50:45,Berkeley Pl & 7 Ave,4051.01,Clinton St & Tillary St,4748.07,40.675146,-73.975232,40.696233,-73.991421,member

In [19]:
all2020_2021_01df = pd.concat([dfJC2020_2021_01, df2020_2021_01])
all2020_2021_01df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,569,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,3300,Prospect Park West & 8 St,40.665147,-73.976376,3395,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,1
1095342,1439,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,3081,Graham Ave & Grand St,40.711863,-73.944024,307,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,1
1095343,2619,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,447,8 Ave & W 52 St,40.763707,-73.985162,4058,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,1
1095344,83,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,3462,E 44 St & 2 Ave,40.751184,-73.971387,3462,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,1
1095345,1313,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,504,1 Ave & E 16 St,40.732219,-73.981656,3687,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,1

In [20]:
all2019df = pd.concat([dfJC2019, df2019])
all2019df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681.0,Grand St,40.715178,-74.037683,3198.0,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195.0,Sip Ave,40.730897,-74.063913,3679.0,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195.0,Sip Ave,40.730897,-74.063913,3678.0,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202.0,Newport PATH,40.727224,-74.033759,3638.0,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195.0,Sip Ave,40.730897,-74.063913,3679.0,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967282,291,2019-01-31 17:33:26.4490,2019-01-31 17:38:17.8940,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,19780,Subscriber,1978,2
967283,437,2019-01-31 18:57:45.3380,2019-01-31 19:05:02.4970,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3313.0,6 Ave & 12 St,40.666318,-73.985462,34365,Subscriber,1976,2
967284,173,2019-01-31 19:11:41.1930,2019-01-31 19:14:34.3350,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3418.0,Plaza St West & Flatbush Ave,40.675021,-73.971115,25889,Subscriber,1977,1
967285,244,2019-01-31 20:54:51.1440,2019-01-31 20:58:55.3100,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3346.0,Berkeley Pl & 7 Ave,40.675147,-73.975232,34649,Subscriber,1994,1
967286,387,2019-01-31 23:38:42.1770,2019-01-31 23:45:09.4520,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,17299,Subscriber,1979,1

In [21]:
all2018df = pd.concat([dfJC2018, df2018])
all2018df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183.0,Exchange Place,40.716247,-74.033459,3214.0,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183.0,Exchange Place,40.716247,-74.033459,3481.0,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183.0,Exchange Place,40.716247,-74.033459,3267.0,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183.0,Exchange Place,40.716247,-74.033459,3638.0,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183.0,Exchange Place,40.716247,-74.033459,3211.0,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718989,843,2018-01-31 17:28:27.5390,2018-01-31 17:42:30.5890,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,410.0,Suffolk St & Stanton St,40.720664,-73.985180,15153,Subscriber,1981,1
718990,244,2018-01-31 17:34:20.4510,2018-01-31 17:38:24.7200,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,26896,Subscriber,1960,1
718991,302,2018-01-31 18:20:55.5430,2018-01-31 18:25:58.3350,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,327.0,Vesey Pl & River Terrace,40.715338,-74.016584,33111,Subscriber,1965,1
718992,222,2018-01-31 18:47:42.5720,2018-01-31 18:51:24.6830,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,257.0,Lispenard St & Broadway,40.719392,-74.002472,16675,Subscriber,1969,0
718993,713,2018-01-31 19:35:55.4840,2018-01-31 19:47:48.6400,3664.0,North Moore St & Greenwich St,40.720195,-74.010301,280.0,E 10 St & 5 Ave,40.733320,-73.995101,17928,Subscriber,1991,1

In [22]:
all2017df = pd.concat([dfJC2017, df2017])
all2017df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,2017-12-01 00:00:59,2017-12-01 00:08:32,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,2017-12-01 00:04:42,2017-12-01 00:07:21,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,2017-12-01 00:17:00,2017-12-01 00:19:55,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,2017-12-01 00:50:22,2017-12-01 00:57:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,2017-12-01 00:55:03,2017-12-01 01:06:13,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726671,340,2017-01-31 23:59:14,2017-02-01 00:04:55,267,Broadway & W 36 St,40.750977,-73.987654,527,E 33 St & 2 Ave,40.744023,-73.976056,17133,Subscriber,1977.0,1
726672,338,2017-01-31 23:59:23,2017-02-01 00:05:01,3092,Berry St & N 8 St,40.719009,-73.958525,3110,Meserole Ave & Manhattan Ave,40.727086,-73.952991,18810,Subscriber,1972.0,1
726673,79,2017-01-27 04:59:49,2017-01-27 05:01:08,3245,Kiosk in a box Motivate,40.646678,-74.016303,3245,Kiosk in a box Motivate,40.646678,-74.016303,24777,Subscriber,1992.0,1
726674,711,2017-01-27 06:23:29,2017-01-27 06:35:21,3245,Kiosk in a box Motivate,40.646678,-74.016303,3245,Kiosk in a box Motivate,40.646678,-74.016303,24777,Subscriber,1992.0,1
726675,623,2017-01-27 06:36:39,2017-01-27 06:47:02,3245,Kiosk in a box Motivate,40.646678,-74.016303,3245,Kiosk in a box Motivate,40.646678,-74.016303,24777,Subscriber,1992.0,1

In [23]:
all2016df = pd.concat([dfJC2016, df2016])
all2016df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,204,2016-12-01 00:33:31,2016-12-01 00:36:55,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,2016-12-01 00:56:09,2016-12-01 01:06:16,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,2016-12-01 01:14:22,2016-12-01 01:17:27,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,2016-12-01 01:29:52,2016-12-01 01:38:17,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,2016-12-01 01:47:14,2016-12-01 01:58:27,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509473,1275,1/31/2016 23:58:20,2/1/2016 00:19:36,3135,E 75 St & 3 Ave,40.771129,-73.957723,168,W 18 St & 6 Ave,40.739713,-73.994564,17640,Subscriber,1982.0,1
509474,1576,1/31/2016 23:58:39,2/1/2016 00:24:55,268,Howard St & Centre St,40.719105,-73.999733,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,23324,Subscriber,1978.0,1
509475,356,1/31/2016 23:58:54,2/1/2016 00:04:51,441,E 52 St & 2 Ave,40.756014,-73.967416,501,FDR Drive & E 35 St,40.744219,-73.971212,24203,Subscriber,1990.0,1
509476,1128,1/31/2016 23:59:13,2/1/2016 00:18:02,475,E 16 St & Irving Pl,40.735243,-73.987586,264,Maiden Ln & Pearl St,40.707065,-74.007319,24272,Subscriber,1990.0,1
509477,851,1/31/2016 23:59:26,2/1/2016 00:13:38,377,6 Ave & Canal St,40.722438,-74.005664,509,9 Ave & W 22 St,40.745497,-74.001971,22211,Subscriber,1988.0,1

In [24]:
all2015df = pd.concat([dfJC2015, df2015])
all2015df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,141,2015-11-01 00:05:00,2015-11-01 00:07:21,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,24592,Subscriber,1989.0,1
1,487,2015-11-01 00:05:34,2015-11-01 00:13:41,3186,Grove St PATH,40.719586,-74.043117,3214,Essex Light Rail,40.712774,-74.036486,24525,Subscriber,1980.0,1
2,153,2015-11-01 00:21:15,2015-11-01 00:23:48,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,24422,Subscriber,1981.0,1
3,196,2015-11-01 01:11:31,2015-11-01 01:14:47,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,24592,Subscriber,1989.0,1
4,724,2015-11-01 01:14:52,2015-11-01 01:26:56,3202,Newport PATH,40.727224,-74.033759,3206,Hilltop,40.731169,-74.057574,24519,Subscriber,1991.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,1
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,1
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,1
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,1
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,1

In [25]:
alldf_JUST01_2021 = pd.concat([all2013df, all2014df, all2015df, all2016df, all2017df, all2018df, all2019df, all2020_2021_01df])
alldf_JUST01_2021

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401.0,Allen St & Rivington St,40.720196,-73.989978,476.0,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,2
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312.0,Allen St & E Houston St,40.722055,-73.989111,223.0,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,2
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326.0,E 11 St & 1 Ave,40.729538,-73.984267,291.0,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,2
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021.0,W 45 St & 8 Ave,40.759291,-73.988597,447.0,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,1
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439.0,E 4 St & 2 Ave,40.726281,-73.989780,296.0,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,569,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,3395.0,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,1
1095342,1439,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,3081.0,Graham Ave & Grand St,40.711863,-73.944024,307.0,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,1
1095343,2619,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,447.0,8 Ave & W 52 St,40.763707,-73.985162,4058.0,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,1
1095344,83,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,1
1095345,1313,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,504.0,1 Ave & E 16 St,40.732219,-73.981656,3687.0,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,1

In [26]:
# Main dfs: alldf_JUST01_2021, all2021_NO_01df

In [27]:
alldf_JUST01_2021.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [28]:
all2021_NO_01df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [29]:
oldLatLongdf = alldf_JUST01_2021[['starttime', 'stoptime', 'start station latitude', 'start station longitude', 'start station name', 'end station latitude', 'end station longitude', 'end station name']]
oldLatLongdf = oldLatLongdf.rename(columns={'end station name':'end_station_name', 'start station name':'start_station_name', 'starttime':'started_at', 'stoptime':'ended_at', 'start station latitude':'start_lat', 'start station longitude':'start_lng', 'end station latitude':'end_lat', 'end station longitude':'end_lng'})
oldLatLongdf

,started_at,ended_at,start_lat,start_lng,start_station_name,end_lat,end_lng,end_station_name
0,2013-12-01 00:00:03,2013-12-01 00:16:58,40.720196,-73.989978,Allen St & Rivington St,40.743943,-73.979661,E 31 St & 3 Ave
1,2013-12-01 00:00:07,2013-12-01 00:16:09,40.722055,-73.989111,Allen St & E Houston St,40.737815,-73.999947,W 13 St & 7 Ave
2,2013-12-01 00:00:15,2013-12-01 00:13:03,40.729538,-73.984267,E 11 St & 1 Ave,40.713126,-73.984844,Madison St & Montgomery St
3,2013-12-01 00:00:49,2013-12-01 00:04:27,40.759291,-73.988597,W 45 St & 8 Ave,40.763707,-73.985162,8 Ave & W 52 St
4,2013-12-01 00:01:28,2013-12-01 00:10:38,40.726281,-73.989780,E 4 St & 2 Ave,40.714131,-73.997047,Division St & Bowery
...,...,...,...,...,...,...,...,...
1095341,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,40.665147,-73.976376,Prospect Park West & 8 St,40.676374,-74.003250,Henry St & W 9 St
1095342,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,40.711863,-73.944024,Graham Ave & Grand St,40.714275,-73.989900,Canal St & Rutgers St
1095343,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,40.763707,-73.985162,8 Ave & W 52 St,40.758630,-73.975130,Madison Av & E 51 St
1095344,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,40.751184,-73.971387,E 44 St & 2 Ave,40.751184,-73.971387,E 44 St & 2 Ave
1095345,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,40.732219,-73.981656,1 Ave & E 16 St,40.743227,-73.974498,E 33 St & 1 Ave

In [30]:
newLatLongdf = all2021_NO_01df[['started_at', 'ended_at', 'start_lat', 'start_lng', 'start_station_name', 'end_lat', 'end_lng', 'end_station_name']]
newLatLongdf

,started_at,ended_at,start_lat,start_lng,start_station_name,end_lat,end_lng,end_station_name
0,2021-06-21 10:19:04,2021-06-21 10:26:28,40.713463,-74.062858,Lafayette Park,40.717733,-74.043845,City Hall
1,2021-06-05 10:12:18,2021-06-05 10:27:10,40.743139,-74.040040,Mama Johnson Field - 4 St & Jackson St,40.754530,-74.026580,Bloomfield St & 15 St
2,2021-06-04 15:42:35,2021-06-04 15:54:28,40.724605,-74.078405,Lincoln Park,40.715178,-74.037683,Grand St
3,2021-06-03 18:07:42,2021-06-03 19:09:26,40.748161,-74.032453,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,Columbus Park - Clinton St & 9 St
4,2021-06-05 15:39:56,2021-06-05 16:16:09,40.748161,-74.032453,Columbus Park - Clinton St & 9 St,40.748161,-74.032453,Columbus Park - Clinton St & 9 St
...,...,...,...,...,...,...,...,...
649978,2021-02-12 16:01:17,2021-02-12 16:13:53,40.702700,-73.920950,Irving Ave & DeKalb Ave,40.702700,-73.920950,Irving Ave & DeKalb Ave
649979,2021-02-17 18:03:24,2021-02-17 18:06:39,40.755102,-73.974986,E 47 St & Park Ave,40.755103,-73.974987,E 47 St & Park Ave
649980,2021-02-28 18:58:31,2021-02-28 19:12:51,40.696710,-73.928070,Cedar St & Evergreen Ave,40.696710,-73.928070,Cedar St & Evergreen Ave
649981,2021-02-25 09:00:41,2021-02-25 09:13:56,40.676368,-73.952918,Bedford Ave & Bergen St,40.696710,-73.928070,Cedar St & Evergreen Ave
649982,2021-02-08 13:31:57,2021-02-08 13:50:45,40.675146,-73.975232,Berkeley Pl & 7 Ave,40.696233,-73.991421,Clinton St & Tillary St

In [31]:
latLngdf = pd.concat([oldLatLongdf, newLatLongdf], copy=False)
latLngdf

,started_at,ended_at,start_lat,start_lng,start_station_name,end_lat,end_lng,end_station_name
0,2013-12-01 00:00:03,2013-12-01 00:16:58,40.720196,-73.989978,Allen St & Rivington St,40.743943,-73.979661,E 31 St & 3 Ave
1,2013-12-01 00:00:07,2013-12-01 00:16:09,40.722055,-73.989111,Allen St & E Houston St,40.737815,-73.999947,W 13 St & 7 Ave
2,2013-12-01 00:00:15,2013-12-01 00:13:03,40.729538,-73.984267,E 11 St & 1 Ave,40.713126,-73.984844,Madison St & Montgomery St
3,2013-12-01 00:00:49,2013-12-01 00:04:27,40.759291,-73.988597,W 45 St & 8 Ave,40.763707,-73.985162,8 Ave & W 52 St
4,2013-12-01 00:01:28,2013-12-01 00:10:38,40.726281,-73.989780,E 4 St & 2 Ave,40.714131,-73.997047,Division St & Bowery
...,...,...,...,...,...,...,...,...
649978,2021-02-12 16:01:17,2021-02-12 16:13:53,40.702700,-73.920950,Irving Ave & DeKalb Ave,40.702700,-73.920950,Irving Ave & DeKalb Ave
649979,2021-02-17 18:03:24,2021-02-17 18:06:39,40.755102,-73.974986,E 47 St & Park Ave,40.755103,-73.974987,E 47 St & Park Ave
649980,2021-02-28 18:58:31,2021-02-28 19:12:51,40.696710,-73.928070,Cedar St & Evergreen Ave,40.696710,-73.928070,Cedar St & Evergreen Ave
649981,2021-02-25 09:00:41,2021-02-25 09:13:56,40.676368,-73.952918,Bedford Ave & Bergen St,40.696710,-73.928070,Cedar St & Evergreen Ave
649982,2021-02-08 13:31:57,2021-02-08 13:50:45,40.675146,-73.975232,Berkeley Pl & 7 Ave,40.696233,-73.991421,Clinton St & Tillary St

In [32]:
latLngdf['started_at'] = pd.to_datetime(latLngdf['started_at'])

In [33]:
latLngdf['ended_at'] = pd.to_datetime(latLngdf['ended_at'])

In [34]:
startLatLngdf = latLngdf.drop(columns=['end_lat', 'end_lng', 'end_station_name', 'ended_at'])
startLatLngdf = startLatLngdf.sort_values(by='started_at')
startLatLngdf['started_at'] = startLatLngdf['started_at'].dt.to_period('M')
startLatLngdf

        started_at  start_lat  start_lng          start_station_name
0          2013-06  40.742354 -73.989151          Broadway & W 24 St
1          2013-06  40.742354 -73.989151          Broadway & W 24 St
3          2013-06  40.735243 -73.987586         E 15 St & Irving Pl
4          2013-06  40.705693 -74.016777       Little West St & 1 Pl
6          2013-06  40.734546 -73.990741          Broadway & E 14 St
...            ...        ...        ...                         ...
2090081    2021-06  40.721700 -74.002381        Grand St & Greene St
152465     2021-06  40.810792 -73.943068        Lenox Ave & W 130 St
1331494    2021-06  40.737262 -73.992390             E 16 St & 5 Ave
2376122    2021-06  40.829608 -73.921461  Grand Concourse & E 164 St
1194165    2021-06  40.788130 -73.952060          E 98 St & Park Ave

[119730612 rows x 4 columns]

In [35]:
startCountsLatLng = startLatLngdf.value_counts(['started_at', 'start_lat', 'start_lng'], sort=False)
startCountsLatLng

started_at  start_lat  start_lng
2013-06     40.646607  -74.015970    109
            40.646768  -74.016510    245
            40.680342  -73.955769    261
            40.680983  -73.950048    379
            40.682166  -73.953990    128
                                    ...
2021-06     40.879350  -73.885340    418
            40.880294  -73.886065     14
                       -73.886065     79
            40.880295  -73.886065      7
            40.882260  -73.887020    291
Length: 70928, dtype: int64

In [36]:
startCountsLatLngdf = pd.DataFrame(startCountsLatLng.reset_index())
startCountsLatLngdf.columns = ['monthYear', 'start_lat', 'start_lng', 'startCount']

startCountsLatLngdf

      monthYear  start_lat  start_lng  startCount
0       2013-06  40.646607 -74.015970         109
1       2013-06  40.646768 -74.016510         245
2       2013-06  40.680342 -73.955769         261
3       2013-06  40.680983 -73.950048         379
4       2013-06  40.682166 -73.953990         128
...         ...        ...        ...         ...
70923   2021-06  40.879350 -73.885340         418
70924   2021-06  40.880294 -73.886065          14
70925   2021-06  40.880294 -73.886065          79
70926   2021-06  40.880295 -73.886065           7
70927   2021-06  40.882260 -73.887020         291

[70928 rows x 4 columns]

In [37]:
uniqueStartLatLngdf = startLatLngdf.drop_duplicates(subset=['started_at', 'start_lat', 'start_lng'])
uniqueStartLatLngdf

        started_at  start_lat  start_lng          start_station_name
0          2013-06  40.742354 -73.989151          Broadway & W 24 St
3          2013-06  40.735243 -73.987586         E 15 St & Irving Pl
4          2013-06  40.705693 -74.016777       Little West St & 1 Pl
6          2013-06  40.734546 -73.990741          Broadway & E 14 St
251        2013-06  40.726218 -73.983799           E 7 St & Avenue A
...            ...        ...        ...                         ...
2526276    2021-06  40.860479 -73.905717     Aqueduct Ave & North St
784106     2021-06  40.674340 -74.001947      Clinton St & Centre St
550762     2021-06  40.827134 -73.922736  Grand Concourse & E 161 St
500288     2021-06  40.763505 -73.971092       E 59 St & Madison Ave
2955129    2021-06  40.763505 -73.971092       E 59 St & Madison Ave

[70928 rows x 4 columns]

In [38]:
uniqueStartLatLngdf = uniqueStartLatLngdf.rename(columns={'started_at':'monthYear'})
uniqueStartLatLngdf

        monthYear  start_lat  start_lng          start_station_name
0         2013-06  40.742354 -73.989151          Broadway & W 24 St
3         2013-06  40.735243 -73.987586         E 15 St & Irving Pl
4         2013-06  40.705693 -74.016777       Little West St & 1 Pl
6         2013-06  40.734546 -73.990741          Broadway & E 14 St
251       2013-06  40.726218 -73.983799           E 7 St & Avenue A
...           ...        ...        ...                         ...
2526276   2021-06  40.860479 -73.905717     Aqueduct Ave & North St
784106    2021-06  40.674340 -74.001947      Clinton St & Centre St
550762    2021-06  40.827134 -73.922736  Grand Concourse & E 161 St
500288    2021-06  40.763505 -73.971092       E 59 St & Madison Ave
2955129   2021-06  40.763505 -73.971092       E 59 St & Madison Ave

[70928 rows x 4 columns]

In [39]:
uniqueStartLatLngdf = uniqueStartLatLngdf.merge(startCountsLatLngdf, how='outer', on=['start_lat', 'start_lng', 'monthYear'])
uniqueStartLatLngdf

      monthYear  start_lat  start_lng          start_station_name  startCount
0       2013-06  40.742354 -73.989151          Broadway & W 24 St        2574
1       2013-06  40.735243 -73.987586         E 15 St & Irving Pl        1328
2       2013-06  40.705693 -74.016777       Little West St & 1 Pl         563
3       2013-06  40.734546 -73.990741          Broadway & E 14 St        3119
4       2013-06  40.726218 -73.983799           E 7 St & Avenue A        1460
...         ...        ...        ...                         ...         ...
70923   2021-06  40.860479 -73.905717     Aqueduct Ave & North St           1
70924   2021-06  40.674340 -74.001947      Clinton St & Centre St           1
70925   2021-06  40.827134 -73.922736  Grand Concourse & E 161 St          45
70926   2021-06  40.763505 -73.971092       E 59 St & Madison Ave         105
70927   2021-06  40.763505 -73.971092       E 59 St & Madison Ave           1

[70928 rows x 5 columns]

In [40]:
endLatLngdf = latLngdf.drop(columns=['start_lat', 'start_lng', 'start_station_name', 'started_at'])
endLatLngdf = endLatLngdf.sort_values(by='ended_at')
endLatLngdf['ended_at'] = endLatLngdf['ended_at'].dt.to_period('M')
endLatLngdf

        ended_at    end_lat    end_lng              end_station_name
3        2013-06  40.691782 -73.973730               Washington Park
7        2013-06  40.750967 -73.994442             8 Ave & W 31 St N
0        2013-06  40.743174 -74.003664               9 Ave & W 18 St
12       2013-06  40.682232 -73.961458         Fulton St & Grand Ave
1        2013-06  40.743174 -74.003664               9 Ave & W 18 St
...          ...        ...        ...                           ...
600387   2021-07  40.703276 -73.931835            Forrest WH station
123783   2021-07  40.847410 -73.911359       Townsend Ave & E 175 St
1589393  2021-07  40.874440 -73.891860  Bedford Park Blvd & Paul Ave
567544   2021-07  40.789622 -73.977570        W 87 St & West End Ave
1916284  2021-07  40.696102 -73.967510     Washington Ave & Park Ave

[119730612 rows x 4 columns]

In [41]:
endCountsLatLng = endLatLngdf.value_counts(['ended_at', 'end_lat', 'end_lng'], sort=False)
endCountsLatLng

ended_at  end_lat    end_lng
2013-06   40.646607  -74.015970    100
          40.646768  -74.016510    234
          40.680342  -73.955769    410
          40.680983  -73.950048    388
          40.682166  -73.953990    118
                                  ...
2021-07   40.863089  -73.917583      1
          40.864632  -73.918598      1
          40.867505  -73.926363      1
          40.868140  -73.881450      3
          40.874440  -73.891860      1
Length: 71709, dtype: int64

In [42]:
endCountsLatLngdf = pd.DataFrame(endCountsLatLng.reset_index())
endCountsLatLngdf.columns = ['monthYear', 'end_lat', 'end_lng', 'endCount']

endCountsLatLngdf

      monthYear    end_lat    end_lng  endCount
0       2013-06  40.646607 -74.015970       100
1       2013-06  40.646768 -74.016510       234
2       2013-06  40.680342 -73.955769       410
3       2013-06  40.680983 -73.950048       388
4       2013-06  40.682166 -73.953990       118
...         ...        ...        ...       ...
71704   2021-07  40.863089 -73.917583         1
71705   2021-07  40.864632 -73.918598         1
71706   2021-07  40.867505 -73.926363         1
71707   2021-07  40.868140 -73.881450         3
71708   2021-07  40.874440 -73.891860         1

[71709 rows x 4 columns]

In [43]:
endLatLngdf1 = endLatLngdf[0:59865305]
endLatLngdf2 = endLatLngdf[59865306:119730612]

In [44]:
uniqueEndLatLngdf1 = endLatLngdf1.drop_duplicates(subset=['ended_at', 'end_lat', 'end_lng'])
uniqueEndLatLngdf1

        ended_at    end_lat    end_lng        end_station_name
3        2013-06  40.691782 -73.973730         Washington Park
7        2013-06  40.750967 -73.994442       8 Ave & W 31 St N
0        2013-06  40.743174 -74.003664         9 Ave & W 18 St
12       2013-06  40.682232 -73.961458   Fulton St & Grand Ave
15       2013-06  40.728145 -73.990214  Shevchenko Pl & E 7 St
...          ...        ...        ...                     ...
336881   2018-08  40.677274 -73.982820        Union St & 4 Ave
337942   2018-08  40.763605 -73.989180         W 50 St & 9 Ave
1148321  2018-08  45.506364 -73.569463        8D QC Station 01
403535   2018-08  40.677165 -73.973828     Sterling Pl & 7 Ave
415593   2018-08  40.678612 -73.990373    Carroll St & Bond St

[32505 rows x 4 columns]

In [45]:
uniqueEndLatLngdf2 = endLatLngdf2.drop_duplicates(subset=['ended_at', 'end_lat', 'end_lng'])
uniqueEndLatLngdf2

        ended_at    end_lat    end_lng              end_station_name
492308   2018-08  40.783964 -73.947167               2 Ave & E 96 St
495257   2018-08  40.737815 -73.999947               W 13 St & 7 Ave
495127   2018-08  40.778012 -73.954071               E 85 St & 3 Ave
495199   2018-08  40.750585 -73.994685               8 Ave & W 31 St
494057   2018-08  40.747804 -73.973442               E 39 St & 2 Ave
...          ...        ...        ...                           ...
600387   2021-07  40.703276 -73.931835            Forrest WH station
123783   2021-07  40.847410 -73.911359       Townsend Ave & E 175 St
1589393  2021-07  40.874440 -73.891860  Bedford Park Blvd & Paul Ave
567544   2021-07  40.789622 -73.977570        W 87 St & West End Ave
1916284  2021-07  40.696102 -73.967510     Washington Ave & Park Ave

[40014 rows x 4 columns]

In [46]:
uniqueEndLatLngdf = pd.concat([uniqueEndLatLngdf1, uniqueEndLatLngdf2])
uniqueEndLatLngdf

        ended_at    end_lat    end_lng              end_station_name
3        2013-06  40.691782 -73.973730               Washington Park
7        2013-06  40.750967 -73.994442             8 Ave & W 31 St N
0        2013-06  40.743174 -74.003664               9 Ave & W 18 St
12       2013-06  40.682232 -73.961458         Fulton St & Grand Ave
15       2013-06  40.728145 -73.990214        Shevchenko Pl & E 7 St
...          ...        ...        ...                           ...
600387   2021-07  40.703276 -73.931835            Forrest WH station
123783   2021-07  40.847410 -73.911359       Townsend Ave & E 175 St
1589393  2021-07  40.874440 -73.891860  Bedford Park Blvd & Paul Ave
567544   2021-07  40.789622 -73.977570        W 87 St & West End Ave
1916284  2021-07  40.696102 -73.967510     Washington Ave & Park Ave

[72519 rows x 4 columns]

In [47]:
uniqueEndLatLngdf = uniqueEndLatLngdf.rename(columns={'ended_at':'monthYear'})
uniqueEndLatLngdf

        monthYear    end_lat    end_lng              end_station_name
3         2013-06  40.691782 -73.973730               Washington Park
7         2013-06  40.750967 -73.994442             8 Ave & W 31 St N
0         2013-06  40.743174 -74.003664               9 Ave & W 18 St
12        2013-06  40.682232 -73.961458         Fulton St & Grand Ave
15        2013-06  40.728145 -73.990214        Shevchenko Pl & E 7 St
...           ...        ...        ...                           ...
600387    2021-07  40.703276 -73.931835            Forrest WH station
123783    2021-07  40.847410 -73.911359       Townsend Ave & E 175 St
1589393   2021-07  40.874440 -73.891860  Bedford Park Blvd & Paul Ave
567544    2021-07  40.789622 -73.977570        W 87 St & West End Ave
1916284   2021-07  40.696102 -73.967510     Washington Ave & Park Ave

[72519 rows x 4 columns]

In [48]:
uniqueEndLatLngdf = uniqueEndLatLngdf.merge(endCountsLatLngdf, how='outer', on=['end_lat', 'end_lng', 'monthYear'])
uniqueEndLatLngdf

      monthYear    end_lat    end_lng              end_station_name  endCount
0       2013-06  40.691782 -73.973730               Washington Park       355
1       2013-06  40.750967 -73.994442             8 Ave & W 31 St N      2585
2       2013-06  40.743174 -74.003664               9 Ave & W 18 St      1040
3       2013-06  40.682232 -73.961458         Fulton St & Grand Ave       440
4       2013-06  40.728145 -73.990214        Shevchenko Pl & E 7 St       529
...         ...        ...        ...                           ...       ...
72514   2021-07  40.703276 -73.931835            Forrest WH station         1
72515   2021-07  40.847410 -73.911359       Townsend Ave & E 175 St         1
72516   2021-07  40.874440 -73.891860  Bedford Park Blvd & Paul Ave         1
72517   2021-07  40.789622 -73.977570        W 87 St & West End Ave         1
72518   2021-07  40.696102 -73.967510     Washington Ave & Park Ave         1

[72519 rows x 5 columns]

In [49]:
uniqueEndLatLngdf.to_csv('endStationPopularitydf.csv')

In [50]:
uniqueStartLatLngdf.to_csv('startStationPopularitydf.csv')

In [51]:
mergeStartLatLngdf = uniqueStartLatLngdf.rename(columns={'start_lat':'lat', 'start_lng':'lng', 'start_station_name':'station_name'})
mergeEndLatLngdf = uniqueEndLatLngdf.rename(columns={'end_lat':'lat', 'end_lng':'lng', 'end_station_name':'station_name'})

In [52]:
mergedf = mergeStartLatLngdf.merge(mergeEndLatLngdf, on=['monthYear', 'lat', 'lng', 'station_name'])
mergedf

,monthYear,lat,lng,station_name,startCount,endCount
0,2013-06,40.742354,-73.989151,Broadway & W 24 St,2574,2816
1,2013-06,40.735243,-73.987586,E 15 St & Irving Pl,1328,1305
2,2013-06,40.705693,-74.016777,Little West St & 1 Pl,563,663
3,2013-06,40.734546,-73.990741,Broadway & E 14 St,3119,3042
4,2013-06,40.726218,-73.983799,E 7 St & Avenue A,1460,1561
...,...,...,...,...,...,...
68829,2021-06,40.860479,-73.905717,Aqueduct Ave & North St,1,1
68830,2021-06,40.674340,-74.001947,Clinton St & Centre St,1,1
68831,2021-06,40.827134,-73.922736,Grand Concourse & E 161 St,45,49
68832,2021-06,40.763505,-73.971092,E 59 St & Madison Ave,105,106
68833,2021-06,40.763505,-73.971092,E 59 St & Madison Ave,1,1

In [53]:
mergedf['totalCount'] = mergedf['startCount'] + mergedf['endCount']
mergedf.drop(columns=['startCount', 'endCount'], inplace=True)
mergedf

      monthYear        lat        lng                station_name  totalCount
0       2013-06  40.742354 -73.989151          Broadway & W 24 St        5390
1       2013-06  40.735243 -73.987586         E 15 St & Irving Pl        2633
2       2013-06  40.705693 -74.016777       Little West St & 1 Pl        1226
3       2013-06  40.734546 -73.990741          Broadway & E 14 St        6161
4       2013-06  40.726218 -73.983799           E 7 St & Avenue A        3021
...         ...        ...        ...                         ...         ...
68829   2021-06  40.860479 -73.905717     Aqueduct Ave & North St           2
68830   2021-06  40.674340 -74.001947      Clinton St & Centre St           2
68831   2021-06  40.827134 -73.922736  Grand Concourse & E 161 St          94
68832   2021-06  40.763505 -73.971092       E 59 St & Madison Ave         211
68833   2021-06  40.763505 -73.971092       E 59 St & Madison Ave           2

[68834 rows x 5 columns]

In [54]:
mergedf.to_csv('allStationPopularity.csv')

In [26]:
# Main dfs: alldf_JUST01_2021, all2021_NO_01df

In [55]:
alldf_JUST01_2021

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401.0,Allen St & Rivington St,40.720196,-73.989978,476.0,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,2
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312.0,Allen St & E Houston St,40.722055,-73.989111,223.0,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,2
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326.0,E 11 St & 1 Ave,40.729538,-73.984267,291.0,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,2
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021.0,W 45 St & 8 Ave,40.759291,-73.988597,447.0,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,1
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439.0,E 4 St & 2 Ave,40.726281,-73.989780,296.0,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095341,569,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,3300.0,Prospect Park West & 8 St,40.665147,-73.976376,3395.0,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,1
1095342,1439,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,3081.0,Graham Ave & Grand St,40.711863,-73.944024,307.0,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,1
1095343,2619,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,447.0,8 Ave & W 52 St,40.763707,-73.985162,4058.0,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,1
1095344,83,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,1
1095345,1313,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,504.0,1 Ave & E 16 St,40.732219,-73.981656,3687.0,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,1

In [58]:
alldf_JUST01_2021['starttime'] = pd.to_datetime(alldf_JUST01_2021['starttime'])

In [59]:
alldf_JUST01_2021['stoptime'] = pd.to_datetime(alldf_JUST01_2021['stoptime'])

In [60]:
alldf_JUST01_2021.to_csv('allOldFormat.csv')

In [61]:
all2021_NO_01df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6457BC38526A4187,docked_bike,2021-06-21 10:19:04,2021-06-21 10:26:28,Lafayette Park,JC078,City Hall,JC003,40.713463,-74.062858,40.717733,-74.043845,member
1,508AC0C37B2BE1A8,docked_bike,2021-06-05 10:12:18,2021-06-05 10:27:10,Mama Johnson Field - 4 St & Jackson St,HB404,Bloomfield St & 15 St,HB203,40.743139,-74.040040,40.754530,-74.026580,member
2,A1AD52779E13308C,docked_bike,2021-06-04 15:42:35,2021-06-04 15:54:28,Lincoln Park,JC053,Grand St,JC102,40.724605,-74.078405,40.715178,-74.037683,member
3,DA8AA7083ACCA940,docked_bike,2021-06-03 18:07:42,2021-06-03 19:09:26,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
4,BF8DB08AEF78C8D1,docked_bike,2021-06-05 15:39:56,2021-06-05 16:16:09,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
649978,84DA58E73B2DF079,docked_bike,2021-02-12 16:01:17,2021-02-12 16:13:53,Irving Ave & DeKalb Ave,4898.02,Irving Ave & DeKalb Ave,4898.02,40.702700,-73.920950,40.702700,-73.920950,member
649979,3A14299B4F7FA1CF,docked_bike,2021-02-17 18:03:24,2021-02-17 18:06:39,E 47 St & Park Ave,6584.12,E 47 St & Park Ave,6584.12,40.755102,-73.974986,40.755103,-73.974987,member
649980,7B86EE3DC7E026BC,docked_bike,2021-02-28 18:58:31,2021-02-28 19:12:51,Cedar St & Evergreen Ave,4721.01,Cedar St & Evergreen Ave,4721.01,40.696710,-73.928070,40.696710,-73.928070,casual
649981,D665B8623FC01285,docked_bike,2021-02-25 09:00:41,2021-02-25 09:13:56,Bedford Ave & Bergen St,4066.15,Cedar St & Evergreen Ave,4721.01,40.676368,-73.952918,40.696710,-73.928070,casual
649982,08A07BB378B0FE2F,docked_bike,2021-02-08 13:31:57,2021-02-08 13:50:45,Berkeley Pl & 7 Ave,4051.01,Clinton St & Tillary St,4748.07,40.675146,-73.975232,40.696233,-73.991421,member

In [62]:
all2021_NO_01df['started_at'] = pd.to_datetime(all2021_NO_01df['started_at'])

In [63]:
all2021_NO_01df['ended_at'] = pd.to_datetime(all2021_NO_01df['ended_at'])

In [64]:
all2021_NO_01df.to_csv('allNewFormat.csv')

In [ ]:
# PHENOMENA DFs
# Main dfs: alldf_JUST01_2021, all2021_NO_01df
# start df2013_06 
# start of JCs: dfJC2015_09

In [67]:
springdf = pd.concat([df2014_03, df2014_04, df2014_05, df2015_03, df2015_04, df2015_05, df2016_03, df2016_04, df2016_05, 
                    df2017_03, df2017_04, df2017_05, df2018_03, df2018_04, df2018_05, df2019_03, df2019_04, df2019_05, df2020_03, df2020_04, df2020_05, 
                     dfJC2016_03, dfJC2016_04, dfJC2016_05, dfJC2017_03, dfJC2017_04, dfJC2017_05, dfJC2018_03, dfJC2018_04, dfJC2018_05, dfJC2019_03, 
                     dfJC2019_04, dfJC2019_05, dfJC2020_03, dfJC2020_04, dfJC2020_05])

In [ ]:
summerdf = pd.concat([df2013_06, df2013_07, df2013_08, df2014_06, df2014_07, df2014_08, df2015_06, df2015_07, df2015_08, df2016_06, df2016_07, df2016_08, 
                    df2017_06, df2017_07, df2017_08, df2018_06, df2018_07, df2018_08, df2019_06, df2019_07, df2019_08, df2020_06, df2020_07, df2020_08
                    dfJC2016_06, dfJC2016_07, dfJC2016_08, dfJC2017_06, dfJC2017_07, dfJC2017_08, dfJC2018_06, dfJC2018_07, dfJC2018_08, dfJC2019_06, 
                     dfJC2019_07, dfJC2019_08, dfJC2020_06, dfJC2020_07, dfJC2020_08])

In [ ]:
falldf = pd.concat([df2013_09, df2013_10, df2013_11, df2014_09, df2014_10, df2014_11, df2015_09, df2015_10, df2015_11, df2016_09, df2016_10, df2016_11, 
                    df2017_09, df2017_10, df2017_11, df2018_09, df2018_10, df2018_11, df2019_09, df2019_10, df2019_11, df2020_09, df2020_10, df2020_11,
                  dfJC2015_09, dfJC2015_10, dfJC2015_11, dfJC2016_09, dfJC2016_10, dfJC2016_11, dfJC2017_09, dfJC2017_10, dfJC2017_11, dfJC2018_09, 
                   dfJC2018_10, dfJC2018_11, dfJC2019_09, dfJC2019_10, dfJC2019_11, dfJC2020_09, dfJC2020_10, dfJC2020_11])

In [ ]:
winterdf = pd.concat([df2013_12, df2014_12, df2014_01, df2014_02, df2015_12, df2015_01, df2015_02, df2016_12, df2016_01, df2016_02, 
                    df2017_12, df2017_01, df2017_02, df2018_12, df2018_01, df2018_02, df2019_12, df2019_01, df2019_02, df2020_12, df2020_01, df2020_02, 
                    df2021_01, dfJC2015_12, dfJC2016_12, dfJC2016_01, dfJC2016_02, dfJC2017_12, dfJC2017_01, dfJC2017_02, dfJC2018_12, dfJC2018_01, 
                    dfJC2018_02, dfJC2019_12, dfJC2019_01, dfJC2019_02, dfJC2020_12, dfJC2020_01, dfJC2020_02, dfJC2021_01])